{% extends 'empleado/base.html' %}

{% block content %}

{% load crispy_forms_tags %}


<br>
<br>
<br>
<br>
<br>
<br>
<form action="" method="post">
{% csrf_token %}


  <div class="card mx-auto" style="width: 30rem;">
      <div class="card-body">
        <h5 class="card-title">Ingrese su usuario y contraseña</h5>

        {{ form | crispy }}

        <a href={% url 'register' %} class="card-link">Registrarse</a>

        <button class="btn btn-sm btn-primary float-end" type="submit">Iniciar Sesion</button> 
      </div>
  </div>



  
</form>

{% endblock %}