<!DOCTYPE html>
<html>
    
<head>

    {% load static %}
    <script src={% static 'css/bootstrap.css' %}></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/sweetalert2.css' %}">
    <script src="{% static 'js/sweetalert2.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <link rel="icon" type="image/x-icon" href={% static 'images/ecorped.png' %} />


  <!-- slider stylesheet -->
  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href={% static 'css/bootstrap.css' %} />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href={% static 'css/style.css' %} rel="stylesheet" />
  <!-- responsive style -->
  <link href={% static 'css/responsive.css' %} rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand" href={% url 'home' %}>
            <span>
              E-Corped
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href={% url 'about' %}> Sobre mí </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href={% url 'publicar_empleado' %}> Publicar empleado </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href={% url 'buscar_empleado' %}> Buscar empleado </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href={% url 'empleados' %}> Listado de empleados </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href={% url 'cambiar-contrasena' %}> Cambiar contraseña </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href={% url 'logout' %}> Cerrar Sesion </a>
                </li>
                <div class="user_option">
                  <a href={% url 'actualizar-usuario' %}>
                    <img src="{% static 'images/user.png' %}" alt="">
                  </a>
                </div>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href={% url 'about' %}> Sobre mí </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href={% url 'login' %}> Iniciar Sesion </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href={% url 'register' %}> Registrarse </a>
                </li>
                
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    {% block content %}{% endblock %}
   </body>
  <html></html>