{% extends "empleado/base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class=" slider_section position-relative">
        <div class="container">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col">
                    <div class="detail-box">
                      <div>
                        <h2>
                          Bienvenido a 
    
                        </h2>
                        <h1>
                          E-Corped
                        </h1>
                        <p>
                          El software de gestion de empleados nº1 de CABA.
                        </p>
    
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
        </div>
      </section>
      <!-- end slider section -->
    </div>
</body>
</html>

{% endblock %}



