{% extends "empleado/base.html" %}

{% block content %}

{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Agregar Empleado</title>
    <style>
        .horizontal-card {
            display: flex;
            justify-content: space-between;
            max-width: 600px; /* Ajusta este valor según tus preferencias */
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <form id="mi-formulario" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="card mx-auto" style="max-width: 30rem;">
          <div class="card-body">
              <h5 class="card-title">Agregar un empleado</h5>
              {{ form | crispy }}
              <button type="submit" name="editar" class="btn btn-primary" id="guardar-cambios-button">Guardar cambios</button>
          </div>
      </div>
  </form>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    $(document).ready(function() {
        $("#mi-formulario").submit(function(e) {
            e.preventDefault();

            var formData = new FormData(this);  // Crea un objeto FormData para incluir archivos
            $.ajax({
                type: "POST",
                url: "{% url 'publicar_empleado' %}",
                data: formData,
                processData: false,  // Evita el procesamiento automático
                contentType: false,  // Evita la configuración automática de Content-Type
                success: function(response) {
                    if (response.success) {
                        Swal.fire({
                            title: 'Éxito',
                            text: response.message,
                            icon: 'success',
                            confirmButtonText: 'OK'
                        }).then(function () {
                            window.location.href = "{% url 'empleados' %}";
                        });
                    } else {
                        Swal.fire({
                            title: 'Error',
                            text: response.message,
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                },
                error: function() {
                    Swal.fire({
                        title: 'Error',
                        text: 'Hubo un problema al agregar el empleado.',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                }
            });
        });
    });
</script>
  </body>
</html>
 
{% endblock %}