{% extends "empleado/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Empleado</title>
</head>
<body>
    <form method="post">
      {% csrf_token %}
      <div class="card mx-auto" style="max-width: 30rem;">
          <div class="card-body">
              <h5 class="card-title">Agregar un empleado</h5>
              {{ form | crispy }}
              <button class="btn btn-sm btn-primary float-end" type="submit">Agregar empleado</button>
          </div>
      </div>
  </form>
  </body>
</html>
{% endblock %}


